name: Auto Tick Hourly (Runner)

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run auto runner
        env:
          REDIS_URL: ${{ secrets.REDIS_URL }}

          # Gmail app passwords
          PASS_1: ${{ secrets.PASS_1 }}
          PASS_2: ${{ secrets.PASS_2 }}
          PASS_3: ${{ secrets.PASS_3 }}
          PASS_4: ${{ secrets.PASS_4 }}
          PASS_5: ${{ secrets.PASS_5 }}
          PASS_6: ${{ secrets.PASS_6 }}
          PASS_7: ${{ secrets.PASS_7 }}
          PASS_8: ${{ secrets.PASS_8 }}
          PASS_9: ${{ secrets.PASS_9 }}
          PASS_10: ${{ secrets.PASS_10 }}
          PASS_11: ${{ secrets.PASS_11 }}
          PASS_12: ${{ secrets.PASS_12 }}
          PASS_13: ${{ secrets.PASS_13 }}
          PASS_14: ${{ secrets.PASS_14 }}
          PASS_15: ${{ secrets.PASS_15 }}
          PASS_16: ${{ secrets.PASS_16 }}
          PASS_17: ${{ secrets.PASS_17 }}
          PASS_18: ${{ secrets.PASS_18 }}
          PASS_19: ${{ secrets.PASS_19 }}
          PASS_20: ${{ secrets.PASS_20 }}
          PASS_21: ${{ secrets.PASS_21 }}
          PASS_22: ${{ secrets.PASS_22 }}
          PASS_23: ${{ secrets.PASS_23 }}
          PASS_24: ${{ secrets.PASS_24 }}
          PASS_25: ${{ secrets.PASS_25 }}
          PASS_26: ${{ secrets.PASS_26 }}
          PASS_27: ${{ secrets.PASS_27 }}
          PASS_28: ${{ secrets.PASS_28 }}
          PASS_29: ${{ secrets.PASS_29 }}
          PASS_30: ${{ secrets.PASS_30 }}
          PASS_31: ${{ secrets.PASS_31 }}
          PASS_32: ${{ secrets.PASS_32 }}
          PASS_33: ${{ secrets.PASS_33 }}
          PASS_34: ${{ secrets.PASS_34 }}

        run: node scripts/auto-tick-runner.js
